Vulk.*
x64
Vulk
.vs
.vs/Vulk/v17/ipch/AutoPCH/a4458db1558f0991/FIRST_APP.ipch
.vs/Vulk/v17/ipch/AutoPCH/a4458db1558f0991/FIRST_APP.ipch
.vs/Vulk/v17/ipch/AutoPCH/3e2be3ba6f99ba09/FIRST_APP_GUI.ipch
.vs/Vulk/v17/fileList.bin
.vs/Vulk/v17/DocumentLayout.json
.vs/Vulk/v17/Browse.VC.db
.vs/Vulk/v17/.suo
.vs/Vulk/v17/.suo
.vs/Vulk/v17/Browse.VC.db
.vs/Vulk/v17/DocumentLayout.json
.vs/Vulk/v17/fileList.bin
.vs/Vulk/v17/ipch/AutoPCH/3e2be3ba6f99ba09/FIRST_APP_GUI.ipch
.vs/Vulk/v17/ipch/AutoPCH/a4458db1558f0991/FIRST_APP.ipch
.vs/Vulk/v17/ipch/AutoPCH/a4458db1558f0991/FIRST_APP.ipch
.vs/Vulk/v17/ipch/AutoPCH/3e2be3ba6f99ba09/FIRST_APP_GUI.ipch
.vs/Vulk/v17/fileList.bin
.vs/Vulk/v17/DocumentLayout.json
.vs/Vulk/v17/Browse.VC.db
.vs/Vulk/v17/.suo
.vs/Vulk/v17/ipch/AutoPCH/a4458db1558f0991/FIRST_APP.ipch
.vs/Vulk/v17/ipch/AutoPCH/3e2be3ba6f99ba09/FIRST_APP_GUI.ipch
.vs/Vulk/v17/fileList.bin
.vs/Vulk/v17/DocumentLayout.json
.vs/Vulk/v17/Browse.VC.db
.vs/Vulk/v17/.suo
.vs/Vulk/v17/ipch/AutoPCH/a4458db1558f0991/FIRST_APP.ipch
.vs/Vulk/v17/ipch/AutoPCH/3e2be3ba6f99ba09/FIRST_APP_GUI.ipch
.vs/Vulk/v17/fileList.bin
.vs/Vulk/v17/DocumentLayout.json
.vs/Vulk/v17/Browse.VC.db
.vs/Vulk/v17/.suo
